@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/******************GLOBAL****************/
html {
  scroll-behavior: smooth;
}
body {
  background-color: #161513;
  color: #fff;
}
* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: grey;
}
::selection {
  color: black;
  background: white;
}
#loader {
  width: 70px;
  height: 70px;
  font-size: 100px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
/************************NAVBAR*****************/

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  margin: 0;
  font-family: "Roboto Condensed";
  text-transform: capitalize;
  font-size: 19px;
  padding-right: 30px;
}
.dropbtn {
  font-weight: 200;
}
.fa-angle-down {
  font-size: 15px;
  padding-left: 7px;
}
.navbar a:hover,
.dropdown:hover .dropbtn {
  cursor: pointer;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1a1717;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid #fffff017;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #ffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: "Roboto Condensed";
  text-transform: capitalize;
  font-size: 19px;
  padding-right: 30px;
  text-align: left;
}
.dropdown:hover .dropdown-content {
  display: block;
}
nav {
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-menu {
  list-style: none;
  display: flex;
}
nav h2 {
  font-size: 20px;
  color: white;
  font-family: "Raleway";
  font-weight: 300;
  margin-left: 20px;
}
.nav-link {
  text-decoration: none;
  color: white;
  font-family: "Roboto Condensed";
  text-transform: capitalize;
  font-size: 19px;
  height: 30px;
  padding-right: 30px;
}
.dropdown-content a {
  position: relative;
}
.dropdown-content a::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 2px;
  border-radius: 4px;
  background-color: #ffff;
  bottom: 0;
  left: 0;
  right: 0;
  transform-origin: center;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.dropdown-content a:hover::before {
  transform-origin: center;
  transform: scaleX(1);
}

/*********************MENU-BAR*******************/
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: white;
}
@media only screen and (max-width: 768px) {
  .nav-menu {
    z-index: 1;
    background-color: black;
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.8s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    float: right;
    margin-right: 30px;
    margin-top: 20px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}
/**************************PAGE CONTENT************************/
.cover {
  margin-left: 30px;
  margin-top: 100px;
  background-image: url(https://images.unsplash.com/photo-1601762603339-fd61e28b698a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
  background-attachment: fixed;
  background-size: 650px;
  background-repeat: no-repeat;
  height: 550px;
  display: flex;
  align-items: center;
}
.icon:hover {
  opacity: 0.5;
}
.cover-content {
  padding: 200px 57px;
  transition: 0.4s all ease;
  -webkit-transition: 0.4s all ease;
  -moz-transition: 0.4s all ease;
  -ms-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
}
.cover-content h1 {
  font-size: 50px;
  text-transform: uppercase;
  font-family: "lato";
  letter-spacing: 8px;
}
.cover-content > span {
  font-family: "lato";
  font-size: 30px;
}
.icon {
  text-align: end;
  font-size: 60px;
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -ms-transition: 0.2s all;
  -o-transition: 0.2s all;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}
.cover-two {
  margin-right: 30px;
  margin-top: 100px;
  background-image: url(https://images.unsplash.com/photo-1526510747491-58f928ec870f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
  background-attachment: fixed;
  background-position: right;
  background-size: 900px;
  background-repeat: no-repeat;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.cover-three {
  margin-left: 30px;
  margin-top: 100px;
  background-image: url(https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-attachment: fixed;
  background-size: 900px;
  background-repeat: no-repeat;
  height: 550px;
  display: flex;
  align-items: center;
}
.cover-four {
  margin-right: 30px;
  margin-top: 100px;
  background-image: url(https://images.unsplash.com/photo-1526798513516-d2c620778abe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
  background-attachment: fixed;
  background-position: right;
  background-size: 900px;
  background-repeat: no-repeat;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.cover-five {
  margin-left: 30px;
  margin-top: 100px;
  background-image: url(https://images.unsplash.com/photo-1566138309357-12b188952331?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1528&q=80);
  background-attachment: fixed;
  background-size: 900px;
  background-repeat: no-repeat;
  height: 550px;
  display: flex;
  align-items: center;
}
.cover-six {
  margin-right: 30px;
  margin-top: 100px;
  background-image: url(https://images.unsplash.com/photo-1468818438311-4bab781ab9b8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80);
  background-attachment: fixed;
  background-position: right;
  background-size: 900px;
  background-repeat: no-repeat;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: end;
}
@media (max-width: 500px) {
  .cover .cover-two,
  .cover-three,
  .cover-four,
  .cover-five,
  .cover-six {
    width: 317px;
  }
  .cover-content {
    padding: 115px 4px;
  }
}
/*******************FOOTER**************/
.cover-footer {
  margin-top: 100px;
  background-image: url(../images/footer.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}
.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer-content {
  font-family: "raleway";
  margin-top: 40px;
  margin-bottom: 24px;
}
.footer-content > span {
  display: block;
  padding-top: 20px;
  transition: 0.2s all ease;
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
  -ms-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
}
.footer-content:nth-child(2) {
  cursor: pointer;
}
.footer-content:nth-child(2) span:hover {
  color: grey;
}
.fa-brands {
  cursor: pointer;
  padding-left: 20px;
  padding-top: 10px;
  font-size: 20px;
}
.fa-brands:hover {
  color: grey;
}
/********************/
@media (max-width: 1010px) {
  .footer {
    width: 90%;
    flex-wrap: wrap;
  }
  .footer-content {
    padding: 20px;
  }
}
