@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/******************GLOBAL****************/
html {
  scroll-behavior: smooth;
}
body {
  height: 2000px;
  background-color: #f2efeb;
  /* color: white; */
}
* {
  box-sizing: border-box;
}
/************************NAVBAR*****************/

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  /* color: white; */
  padding: 14px 16px;
  background-color: inherit;
  margin: 0;
  font-family: "Roboto Condensed";
  text-transform: capitalize;
  font-size: 19px;
  padding-right: 30px;
}
.dropbtn {
  font-weight: 200;
}
.fa-angle-down {
  font-size: 15px;
  padding-left: 7px;
}
.navbar a:hover,
.dropdown:hover .dropbtn {
  cursor: pointer;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f2efeb;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid #fffff017;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: "Roboto Condensed";
  text-transform: capitalize;
  font-size: 19px;
  padding-right: 30px;
  text-align: left;
}
.dropdown:hover .dropdown-content {
  display: block;
}
nav {
  justify-content: space-evenly;
  display: flex;
  align-items: center;
}
.nav-menu {
  list-style: none;
  display: flex;
}
nav h2 {
  font-size: 20px;
  font-family: "Raleway";
  font-weight: 300;
}
.nav-link {
  text-decoration: none;
  color: black;
  font-family: "Roboto Condensed";
  text-transform: capitalize;
  font-size: 19px;
  height: 30px;
  padding-right: 30px;
}
.dropdown-content a {
  position: relative;
}
.dropdown-content a::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 2px;
  border-radius: 4px;
  background-color: #000;
  bottom: 0;
  left: 0;
  right: 0;
  transform-origin: center;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.dropdown-content a:hover::before {
  transform-origin: center;
  transform: scaleX(1);
}

/*********************MENU-BAR*******************/
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: white;
}
@media only screen and (max-width: 768px) {
  .nav-menu {
    z-index: 1;
    background-color: black;
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    float: right;
    margin-right: 30px;
    margin-top: 20px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}
/**************************HEADER**********************/
.header h1 {
  font-size: 70px;
  text-align: center;
  padding-top: 100px;
  font-family: "Lato";
  text-transform: capitalize;
}
.header > .account {
  text-align: center;
  display: block;
  font-family: "lato";
  text-transform: capitalize;
}
.header .account > a {
  color: grey;
  text-decoration: none;
  transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
}
.header .account > a:hover {
  color: #000;
}
/*************FORM*************/
.container {
  position: relative;
  width: 100%;
  font-family: "lato";
  overflow: hidden;
}
form {
  border: 3px solid #80808045;
  padding: 40px;
  margin-top: 20px;
}
.container .form {
  width: 100%;
  padding: 30px;
  /* transition: margin-left 0.18s ease; */
}
/* .container .signup {
  opacity: 0;
  transition: opacity 0.09s ease;
  -webkit-transition: opacity 0.09s ease;
  -moz-transition: opacity 0.09s ease;
  -ms-transition: opacity 0.09s ease;
  -o-transition: opacity 0.09s ease;
}
.container.active .signup {
  opacity: 1;
  transition: opacity 0.2s ease;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -ms-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
}
.container.active .login {
  margin-right: -50%;
  opacity: 0;
  transition: margin-left 0.18s ease, opacity 0.15s ease;
  -webkit-transition: margin-left 0.18s ease, opacity 0.15s ease;
  -moz-transition: margin-left 0.18s ease, opacity 0.15s ease;
  -ms-transition: margin-left 0.18s ease, opacity 0.15s ease;
  -o-transition: margin-left 0.18s ease, opacity 0.15s ease;
} */
.container .form .title {
  font-size: 40px;
  font-weight: 600;
}
.form .title::before {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 25px;
}
.form .input-field {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 30px;
}
.input-field input {
  height: 100%;
  width: 100%;
  padding: 0 35px;
  border: none;
  background-color: #f2efeb;
  outline: none;
  font-size: 16px;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid transparent;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.input-field input:is(:focus, :valid) {
  border-bottom-color: #000;
}
/*******ICONS*******/
.input-field i {
  top: 90%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  color: #999;
  font-size: 23px;
}
.input-field input:is(:focus, :valid) ~ i {
  color: #000;
}
.input-field i.icon {
  left: 0%;
}
.input-field i.showHidePw {
  position: absolute;
  right: 0;
  cursor: pointer;
  padding: 10px;
  padding-top: 40px;
}
/*********FORGET-PASS*******/
.form .checkbox-text {
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
}
.checkbox-text .checkbox-content {
  display: flex;
  align-items: center;
}
.checkbox-content input {
  margin: 0 8px -2px 4px;
  accent-color: #f2efeb;
}
.form .text {
  text-transform: capitalize;
  font-size: 17px;
  font-family: "lato";
  padding-right: 7px;
}
.label {
  margin-top: 35px;
  display: inline-flex;
  margin-bottom: 7px;
  font-family: "lato";
  text-transform: capitalize;
  height: 0;
}
.user {
  margin-bottom: 7px;
  display: inline-flex;
  font-family: "lato";
  text-transform: capitalize;
}
#input::after {
  content: "*";
  color: red;
  font-size: 30px;
  padding-left: 5px;
}
.form a.text {
  color: black;
}
.form a:hover {
  text-decoration: underline;
}
/*****LOGIN*****/
.form .button {
  margin-top: 35px;
}
.form .button input {
  border: none;
  width: 25%;
  color: #000;
  letter-spacing: 1px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  background-color: #f2efeb;
  border: 2px solid;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.9s ease;
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
}
.button input:hover {
  box-shadow: inset 100px 0 200px 0 black;
  color: #fff;
}
.form .login-signup {
  margin-top: 30px;
  text-align: center;
}
